<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Ubuntu 도커 이미지</title>
    <link rel="stylesheet" type="text/css" href="/static/css/scriptstyle.css">
    <script src="/static/js/script.js"></script>
</head>
<div style=" margin-left: 5%; margin-top: 3%;">
    <b class="title">서버, 서비스 점검 및 조치 자동화 시스템</b></br>
    <b>해당 시스템은 서버 보안 가이드라인 기반의 서버 점검 및 조치와 서버 내 시스템 점검으로 진행됩니다.</b>
</div>
<br>
<body>
    <div id="load" style="display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); z-index: 1000;">
        <img src="/static/css/103.gif" alt="loading" style="transform: translateX(0px); width: 170px; height: 30px;">
    </div> 
    <div style="text-align: center;">
        <h1>☑️ 취약한 DockerImage 점검☑️</h1>
        <h3> 도커 이미지 점검 페이지입니다. </h3><br>
        <h3> 클라이언트 서버에 있는 도커 이미지를 대상으로 점검 및 조치를 진행합니다. </h3>
    </div>
    <br>
    <div style="text-align: center;">
        <hr>
        <h3> 클라이언트 서버에서 불러온 도커 이미지 목록 </h3>
        <hr>
    </div>
    <div style="text-align: center;">
        <h4>클라이언트 서버에서 불러온 이미지를 바탕으로 생성된 이미지를 다운받아 사용할 수 있습니다.
        <br>해당 이미지는 취약 패키지의 최신 버전 업데이트, 최소 권한 원칙을 적용한 도커파일을 바탕으로 생성되었습니다. <h4>
    </div>
    <div id='tableContainer'></div>
    <br>
    <div id='tableContainer2'></div>
    <script>
        function showLoading() {
            document.getElementById("load").style.display = "flex";
        }

        function hideLoading() {
            document.getElementById("load").style.display = "none";
        }
        //let docker ImageData = null;

        function createDockerTableFromJson(jsonData){
            // 기존 로컬 스토리지에서 값을 가져오는 코드 유지
            const targetIp = localStorage.getItem("targetIp");
            const targetPort = localStorage.getItem("targetPort");
            const targetUser = localStorage.getItem("targetUser");
            const targetPasswd = localStorage.getItem("targetPasswd");
            
            const baseUrl = "http://49.50.166.249:8000/hc/dockers"; 
            const queryParams = `?host=${targetIp}&port=${targetPort}&username=${targetUser}&password=${targetPasswd}`;
            const fullUrl = baseUrl + queryParams;
            console.log("DockerImage URL: ", fullUrl);

            fetch(fullUrl)
            .then(response => response.json()) 
            .then(data => {
                let table = document.createElement('table'); 
                table.style.width = '80%'; 
                table.style.margin = 'auto'; 
                table.style.tableLayout = 'fixed';
                table.id = 'docker_table';
                
                let headerRow = table.insertRow(-1);
                let headerCell1 = document.createElement('th');
                headerCell1.textContent = 'No.';
                let headerCell2 = document.createElement('th');
                headerCell2.textContent = 'ImageName';
                let headerCell3 = document.createElement('th');
                headerCell3.textContent = 'Modified tar';
                headerRow.appendChild(headerCell1);
                headerRow.appendChild(headerCell2);
                headerRow.appendChild(headerCell3); 
                
                let count = 1; 
                for (let imageName in data.dockerImage) {
                    if (data.dockerImage.hasOwnProperty(imageName)) {
                        let row = table.insertRow(-1); 
                        let cell1 = row.insertCell(0); 
                        let cell2 = row.insertCell(1);
                        let cell3 = row.insertCell(2); 
                        cell1.textContent = count++; 
                        cell2.textContent = data.dockerImage[imageName].ImageName;

                        // 버튼 생성 및 셀에 추가
                        let button = document.createElement('button');
                        button.textContent = 'tar Download';
                        button.onclick = function() {
                            // 이미지 이름을 사용하여 호출할 URL 설정
                            const tarUrl = `http://49.50.166.249:8000/hc/tars?image=${data.dockerImage[imageName].ImageName}`;
                            window.open(tarUrl, '_blank'); // 새 창에서 URL 호출
                        };
                        cell3.appendChild(button); // 셀에 버튼 추가
                    }
                }
                // 'tableContainer' 요소 존재 확인
                const container = document.getElementById('tableContainer');
                if (container) {
                    container.innerHTML = ''; // 컨테이너를 비우고 테이블 추가
                    container.appendChild(table);
                } else {
                    console.error('tableContainer element not found');
                }
                // hideLoading 함수 호출 여부 확인 필요
                hideLoading();
                document.getElementById('tableContainer').appendChild(table);
            })
            // .then(data => {
            //     button.textContent = 'JSON Download';
            //     button.onclick = function() {
            //         const jsonStr = JSON.stringify(data.dockerImage, null, 2);
            //         const blob = new Blob([jsonStr], {type: "application/json"});
            //         const url = URL.createObjectURL(blob);
            //         const a = document.createElement("a");
            //         a.href = url;
            //         a.download = `dockerImageVuln.json`;
            //         document.body.appendChild(a);
            //         a.click();
            //         document.body.removeChild(a);
            //     }
            // })
            .catch(error => console.error('Error loading the JSON file:', error));

            document.body.appendChild(document.createElement('br'));
            document.body.appendChild(document.createElement('br'));
        } 
    </script>
    <br>
    <hr>
    <div style="text-align: center;">
        <h4 style="font-size: 17px; "> 해당 이미지에 대한 점검 및 조치 결과는 전체 결과 보고서 PDF를 통해 확인할 수 있습니다.</h4>
        <h4 style = "margin-bottom: -10px;">[PDF로 확인할 수 있는 점검 결과] </h4>
        <h4> 
            1. 조치 전 이미지가 가진 CVE의 수 <br> 
            2. 조치 후 생성된 이미지를 대상으로 다시 스캔된 CVE의 개수 <br>
            3. 생성된 이미지에 남아있는 취약점 중 위험도가 High 이상인 CVE 목록 </h4>
        <h4> </h4>
    </div>
    <hr>
    <div id="tableContainer"></div>
    <div id="buttonContainer2" style="text-align:center; margin-top:20px;">
    <div id="buttonContainer" style="text-align:center; margin-top:20px;">
    </div>
    <script>
        function createlastButton2() {
            const button2 = document.createElement('button');
            button2.id = 'jsonDownload'; 
            button2.textContent = 'DockerImage.json';
            button2.style.margin = 'auto'; 
            button2.style.display = 'block';

            button2.style.marginTop = '10px';
            button2.style.marginBottom = '10px';
            // marginLeft 및 marginRight 삭제
            button2.style.width = "180px";
            button2.style.height = "30px";
            button2.style.fontSize = "15px";
            button2.style.color = "white";
            button2.style.backgroundColor = "#635994";
            button2.style.borderColor = "white";

            button2.addEventListener('click', function() {
                if (!dockerImageData) {
                    alert('데이터가 없습니다.');
                    return;
                }
                const jsonStr = JSON.stringify(dockerImageData, null, 2);
                const blob = new Blob([jsonStr], {type: "application/json"});
                const url = URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = `dockerImageVuln.json`;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            });
            document.getElementById('buttonContainer2').appendChild(button2);
        }
        function createlastButton() {
            const button = document.createElement('button'); // 'button2'를 'button'으로 올바르게 수정했습니다.
            button.id = 'reportButton'; 
            button.textContent = '최종 전체 결과 보고서';
            button.style.margin = 'auto'; 
            button.style.display = 'block';

            button.style.marginTop = '10px';
            button.style.marginBottom = '10px';
            // marginLeft 및 marginRight 삭제
            button.style.width = "180px";
            button.style.height = "30px";
            button.style.fontSize = "15px";
            button.style.color = "white";
            button.style.backgroundColor = "#635994";
            button.style.borderColor = "white";

            button.addEventListener('click', function() {
                window.location.href = '/hs/report'; 
            });
            document.getElementById('buttonContainer2').appendChild(button);
            document.body.appendChild(document.createElement('br'));
            document.body.appendChild(document.createElement('br'));
            document.body.appendChild(document.createElement('br'));
        }


        window.onload = function() {
            createDockerTableFromJson();
            createlastButton2();
            createlastButton();
        };
    </script>

</body>
</html>