<!DOCTYPE html>
<html>
    <head>
        <title>중소기업을 위한 서버 보안 가이드라인에 따른 점검 및 보고서 생성 시스템</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
    </head>
    <body>
        <h1>중소기업을 위한 서버 보안 가이드라인에 따른 점검 및 보고서 생성 시스템</h1>
        IP: <input id="ip" type="text" value="172.16.235.134"><br>
        Port: <input id="port" type="text" value="22" placeholder="Port (default 22)">
        User: <input id="user" type="text" value="root"><br>
        Password: <input id="passwd" type="password" value="guest1412"><br>
        <button id="connect" onclick="connect()">Connect</button>
        <button id="disconnect" onclick="disconnect()" disabled>Disconnect</button>
        <br>
        Command: <input id="command" type="text" placeholder="Type a command">
        <button id="send" onclick="send()" disabled>Send</button>
        <ul id="log"></ul>
    </body>
</html>